//~~~~

// font-famaly
$font-famaly-open-sans: 'Open Sans', sans-serif;
$font-famaly-bebas-neue: 'Bebas Neue', sans-serif;

// font-size
$default-size: 18px;
$header-menu-size: 12px;
$button-text-size: 16px;
$title-size: 80px;
$subtext-size: 24px;
$select-title-size: 36px;

//colors
$main-color: #1a1917;
$accent-color: #ffb548;
$secondary-color: #d9d9d9;

// Image source
$header-background-img: '../../assets/path/to/image/header/header-bg.jpg';
$feature-background-img: '../../assets/path//to/image/main/features/features-bg.jpg';
