//~~

.footer {
	$self: &;
	min-height: 100vh;
	background: $footer-bg-color;
	@include screenSize($size-tablet) {
		height: 100%;
	}
	@include screenSize(740px, 551px) {
		height: 100vh;
	}

	// .footer__container
	&__container {
		display: grid;
		grid-template-rows: auto 233px;
		min-height: 100vh;
	}
	// .footer__content
	&__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px;
		height: 100%;
		position: relative;

		@include screenSize($size-mobile) {
			grid-template-columns: repeat(1, 1fr);
			margin-top: 50px;
		}
	}
	// .footer__content-left
	&__content-left {
		display: flex;
		align-items: center;
		justify-content: end;
	}
	// .footer__img-container
	&__img-container {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 1;
			background: radial-gradient(
				54.01% 45.54% at 50% 50%,
				rgba(255, 255, 255, 0) 0%,
				rgba(0, 0, 0, 0) 46.15%,
				#080a0b 99.74%
			);
		}
		@include screenSize($size-mobile) {
			position: absolute;
			top: 5%;
			left: -20%;
			max-width: 100%;
			height: 400px;
			z-index: 0;
		}
	}
	// .footer__img
	&__img {
		height: 100%;
		max-width: 100%;
		object-fit: cover;
	}
	// .footer__content-right
	&__content-right {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		@include screenSize($size-mobile) {
			position: relative;
		}
	}
	// .footer__form
	&__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 50px;
		@include screenSize($size-tablet) {
			gap: 20px;
		}
	}
	// .footer__header
	&__header {
	}
	// .footer__subtext
	&__subtext {
		font-family: $font-famaly-bebas-neue;
		font-size: $subtext-size;
		color: $secondary-color;
		font-weight: 400;
		letter-spacing: 2px;

		@include screenSize($size-tablet) {
			font-size: $tablet-subtext-size;
		}
		@include screenSize($size-mobile) {
			font-size: calc($mobile-subtext-size - 4px);
			margin-left: 50%;
		}
	}
	// .footer__title
	&__title {
		font-family: $font-famaly-bebas-neue;
		font-size: $title-size;
		color: $secondary-color;
		font-weight: 400;
		letter-spacing: 3px;

		@include screenSize($size-tablet) {
			font-size: $tablet-title-size;
		}
		@include screenSize($size-mobile) {
			font-size: $mobile-title-size;
			margin-left: 50%;
		}
	}
	// .footer__center
	&__center {
	}
	// .footer__text
	&__text {
		color: $secondary-color;
		font-weight: 400;

		@include screenSize($size-tablet) {
			font-size: $secondary-size;
		}
		@include screenSize($size-mobile) {
			margin-left: 50%;
		}
	}
	// .footer__subscribe
	&__subscribe {
		display: flex;
		gap: 20px;
		@include screenSize($size-tablet) {
			flex-direction: column;
		}
	}
	// .footer__subscribe-label
	&__subscribe-label {
		flex-grow: 1;
	}
	// .footer__subscribe-input
	&__subscribe-input {
		width: 100%;
		height: 50px;
		outline: none;
		border: none;
		border-radius: 5px;
		padding: 10px 10px 10px 15px;
		background: rgb(255, 255, 255, 0.08);
		color: $accent-color;
		&::placeholder {
			color: $secondary-color;
			letter-spacing: 1px;
		}
	}
	// .footer__subscribe-btn
	&__subscribe-btn {
		height: 50px;
	}
	// .footer__navigation
	&__navigation {
		height: 233px;
		@include screenSize($size-tablet) {
			height: 60%;
			margin-top: 50px;
		}
		@include screenSize($size-mobile) {
			margin-top: 100px;
		}
	}
	// .footer__navigation--top
	&__navigation--top {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: 30px;

		@include screenSize($size-tablet) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-items: center;
		}
		@include screenSize($size-mobile-secondary) {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
	}
	// .footer__logo
	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		& > &-img {
			max-width: 100%;
		}
	}
	// .footer__logo-img
	&__logo-img {
	}
	// .footer__nav
	&__nav {
		height: 100%;

		@include screenSize($size-tablet) {
			grid-column-start: 2;
			grid-column-end: 5;
			grid-row-start: 1;
			grid-row-end: 3;
			align-items: center;
		}
	}
	// .footer__list
	&__list {
		display: flex;
		align-items: center;
		height: 100%;

		@include screenSize($size-tablet) {
			flex-direction: column;
		}
		@include screenSize($size-mobile) {
			flex-direction: row;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			column-gap: 20px;
		}
	}
	// .footer__item
	&__item {
		display: flex;
		align-items: center;
		height: 100%;

		&:not(:last-child) {
			margin-right: 22px;
			@include screenSize($size-mobile) {
				margin-right: 0;
			}
		}
	}
	// .footer__link
	&__link {
		font-size: $header-menu-size;
		text-transform: uppercase;
		letter-spacing: 1.2px;
		line-height: 2.5rem;
		color: $secondary-color;
		transition: color 0.3s ease-in-out;
		font-weight: 700;
		letter-spacing: 2px;

		&:hover {
			color: $accent-color;
		}
	}
	// .footer__social
	&__social {
		display: flex;
		gap: 30px;
		@include screenSize($size-tablet) {
			justify-content: center;
		}
	}
	&__facebook,
	&__twitter,
	&__youtube,
	&__twitch {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
	}
	&__facebook-ico,
	&__twitter-ico,
	&__youtube-ico,
	&__twitch-ico {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25px;
		height: 25px;

		path {
			@include transition(fill);
		}
	}
	// .footer__facebook
	&__facebook {
		&:hover &-ico path {
			fill: #0f91f3;
		}
	}
	// .footer__facebook-ico
	&__facebook-ico {
	}
	// .footer__twitter
	&__twitter {
		&:hover &-ico path {
			fill: #1d9bf0;
		}
	}
	// .footer__twitter-ico
	&__twitter-ico {
	}
	// .footer__youtube
	&__youtube {
		&:hover &-ico path {
			fill: #e1000e;
		}
	}
	// .footer__youtube-ico
	&__youtube-ico {
	}
	// .footer__twitch
	&__twitch {
		&:hover &-ico path {
			fill: #a970ff;
			filter: brightness(0.6);
		}
	}
	// .footer__twitch-ico
	&__twitch-ico {
	}
	// .footer__navigation--bottom
	&__navigation--bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;

		@include screenSize($size-mobile) {
			display: flex;
			flex-direction: column;
			gap: 20px;
			text-align: center;
			word-wrap: anywhere;
		}
	}
	// .footer__copyright
	&__copyright {
		opacity: 0.5;
		color: $secondary-color;
		font-size: $secondary-size;
		@include screenSize($size-tablet) {
			font-size: calc($header-menu-size - 2px);
		}
	}
	// .footer__privacy-policy
	&__privacy-policy {
		text-transform: uppercase;
		color: $secondary-color;
		letter-spacing: 1.2px;
		font-weight: 700;
		font-size: $header-menu-size;
		@include screenSize($size-tablet) {
			font-size: calc($header-menu-size - 2px);
		}
		// @include screenSize($size-mobile) {
		// 	font-size: calc($header-menu-size - 4px);
		// }
	}
}
